# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.log

# Virtual env
.venv/
venv/
env/
ENV/
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dati, modelli, output (non versionare file pesanti)
outputs/
models/


# Notebook cache
.ipynb_checkpoints/
